# ----- GLOBAL ------ #

#Percorso cartella foto orginali da analizzare
#Si aspetta che le foto siano divise per ogni persona diversa in sottocartelle
IMAGES_DIR=../lfw-deepfunneled

#Percorso cartella output volti
FACES_DIR=../lfw_faces

#Percorso modello di rilevamento volti
#Formato xml
FACE_DETECTION_MODEL=../config/haarcascade_frontalface_default.xml

#Percorso modello di riconoscimento volti
#Formato xml
FACE_RECOGNITION_MODEL=../config/fisherface_model.xml

#Percorso database di volti da usare per fare training
#Formato csv
TRAINING_CSV=../config/training.csv

#Percorso database di volti da usare per fare testing
#Formato csv
TESTING_CSV=../config/testing.csv

#Numero di volti minimo per includere la persona analizzata nel database dei volti rilevati
MIN_FACES=10


#Altezza e larghezza immagini volti in output (224x224 Ottimale)
WIDTH=224
HEIGHT=224


#Percentuale di volti da usare per fare training, il restante sarà utilizzato per la fase di testing
TRAINING_PERCENTAGE=0.8

# ----- FisherFace ------ #

# ----- Neural Network ------ #

#Grandezza batch
BATCH_SIZE=128

#Numero di epoche
EPOCH=20